.custom-button {
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}
.custom-button:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}
.form {
  margin-top: 5px;
}