.form-wrap {
  position: fixed;
z-index: 9999;
left: 40%;
text-align: center;
background-color: #fff;
top: 30%;
}
.form-wrap span {
  font-weight: bold;
}
.form-modal {
  display: flex;
  flex-direction: column;
  width: 300px;
  text-align: center;
  background-color: #fbfdff;
    padding: 5px 5px;
    border-radius: 2%;
}

.form-modal input  {
  margin-bottom: 5px;
  width: 260px;
}

.form-modal textarea {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

@media  (max-width: 430px) {
  .form-wrap {
    left:7%
  }
}