.hotdog-item-wrap {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.hotdog-item-picture {
  min-width: 250px;
  min-height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hotdog-item-name {
  font-weight: bold;
  font-size: 130%;
  display: block;
}
.description-wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}